<script src="/assets/js/consent.js"></script>
<script src="/assets/js/gyroscope.js"></script>
<script src="/assets/js/cursor.js"></script>
<script src="/assets/js/text-effects.js"></script>
<script src="/assets/js/cards.js"></script>
<script src="/assets/js/stickers.js"></script>
<script src="/assets/js/ui.js"></script>
<script src="/assets/js/easter-eggs.js"></script>
<script src="/assets/js/portrait.js"></script>
<script src="/assets/js/settings.js"></script>
<script src="/assets/js/main.js"></script>
