---
layout: base.njk
isHome: true
skipLink: '<a href="#about" class="skip-link">Skip to content</a>'
---
{{ content | safe }}

<canvas class="draw-canvas" id="drawCanvas" aria-hidden="true"></canvas>
<div class="sticker-canvas" id="stickerCanvas"></div>

<!-- Particle canvas -->
<canvas id="particleCanvas" aria-hidden="true"></canvas>
